*{
    box-sizing: border-box;
  }
html{
    background: center no-repeat url(/images/mae-mu-5vjFfI7MXwg-unsplash.jpg);
    background-size: 100% 100%;
    background-size: cover;
    /* height: 300vh; */
    color: rgb(1, 48, 48);
    /* opacity: 0.8; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header{
    grid-area: header;
}

.hero{
    grid-area: hero;
}

.advert{
    grid-area: advert;
}

.body{
    grid-area: body;
}

.sidebar{
    background: lightgoldenrodyellow;
    grid-area: sidebar;
}

.footer{
    background: lightgray;
    grid-area: footer;
}

.wrapper{
    display: grid;
    /* grid-template-columns: repeat(7, 1fr); */
    grid-template-columns: 1fr;
    width: 100%;
    margin: 0 auto;
    min-width: 320px;
    max-width: 414px;
    font-size: 1em;
    min-height: 300px;
    grid-gap: 1em;
    /* grid-auto-rows: minmax(100px, auto); */
    grid-template-rows: 1fr auto auto auto auto 30px;
    grid-template-areas: 
    "header"
    "hero"
    "advert"
    "body"
    "sidebar"
    "footer";
}

.header{
    display: grid;
    grid-gap:0.5em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: 
    "brand brand"
    "navigation tools";
}
 
.header1{
    background: lightpink; 
    grid-area: brand;
}

.header2{
    background: lightpink;
    grid-area: navigation;
}
.header3{
    background: pink;
    grid-area: tools;
}

.logo-img{
    width:8rem;
    height: auto;
    display: block;
    margin: 0 auto;
}


.nav{
    display: flex;
    justify-content: space-between;
    margin-right: 0.5em;
    list-style-type: none;
}
.nav-li:hover {
        background-color: rgb(138, 96, 96);
        color: white;
        cursor: pointer;
}

.header3{
    display: flex;
    justify-content: center;
    
}
.header3 input[type=text]{
    /* ar šo izdevās salabot 320px mob skatu
    width: 160px; */
    width: auto;
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    }
/* button {
    background-color: rgb(241, 148, 203);
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
} */
.header2 .header3{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}
.hero{
    display: grid;
    grid-gap:0.5em;
    grid-template-columns: 1fr;
    grid-template-rows:  5fr;
    background: #f1e0fa;
    grid-template-areas:
    "call";
}

.hero1{
    grid-area: feature;
}
.hero2{
    grid-area: call;
}
.hero1{
    display: none;
    /* display: hide; */
}
.advert{
    display: none;
}
.strawberry-cake{
    width: 320px;
    /* width: auto; */
    object-fit: cover;
    height: auto;
    display: block;
    margin: auto;
}

.MC-img{
    width: 100%;
    /* width: 320px; */
    height: 90px;
    display: block;
    margin: 0 auto; 
}

.body{
    display: grid;
    grid-gap:0.5em;
    grid-template-columns: 1fr;
    grid-template-rows: 110px auto auto;
    grid-template-areas: 
    "body1"
    "body2"
    "body3";
}

.body1{
    background: lightgreen;
    grid-area: body1;
}
.body2{
    background: lightgreen;
    grid-area: body2;
}
.body3{
    background: lightskyblue;
    grid-area: body3;
}

ul> li{
    cursor: pointer;
    display: inline;
    list-style-type: none;
}

h2{
    text-align: center;
}
ol{
    list-style-position: inside;
}
li:hover{
    background: whitesmoke;
}

.button-enrool{
    text-align: center;
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
    font-style: oblique;
}

button {
    width: 10rem;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    font-size: 1.3em;
}
button:hover{
    background-color: #d2b8df;
    border-color: #a992af;
    border-width: 5px;
    cursor: pointer;
}
.body{
    text-align: center;
}
.sidebar{
    display: none;
}

.footer{
    text-align: center;
    padding: 0.5em;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { ... }

/* Medium devices (landscape phones, 576px and up) */

/* Large devices (desktops, 992px and up) */
@media (min-width: 768px) { 
    .wrapper{
        grid-template-columns: auto;
        width: 100%;
        margin: 0 auto;
        min-width: 768px;
        max-width: 1024px;
        grid-gap: 0.5em;
        grid-template-rows: auto auto auto 100px 50px;
        grid-template-areas: 
        "header"
        "hero"
        "advert"
        "body"
        "sidebar"
        "footer";
    } 
    .header{
        grid-gap:0.5em;
        grid-template-columns: auto;
        grid-template-rows: auto auto 1fr;
        grid-template-areas: 
        "brand navigation tools";
    }
    .header2{
        padding-top: 40px;   
    }
    .header3{
        align-items: center;
    }

    .advert{
        display: none;
    }
    .hero{
        grid-gap:1em;
        grid-template-columns: 1fr;
        grid-template-rows:  auto auto;
        grid-template-areas: 
        "feature"
        "call";
    }
    .hero1{
        display: contents;
        text-align: center;
    }
    .strawberry-cake{
        width: 100%;
        height: auto;
    }

    .body{
        grid-gap:1em;
        grid-template-columns: auto auto;
        grid-template-rows: 110px auto;
        grid-template-areas: 
        "body1 body2"
        "body3 body3";
    }
    .MC-img{
        width: 100%;
        height: 110px;
    }

    .sidebar{
        grid-gap:1em;
        grid-template-columns: auto;
        grid-template-rows: 10px;
        grid-template-areas: 
        "sidebar";
    }
    .sidebar{
        display: contents;
    }
    .sidebar> p {
        background-color: #e4d5e7;
        text-align: center;
        padding: 1em;
    }
    }

/* Extra Large devices (desktops, 992px and up) */
@media (min-width: 1200px) { 

    .wrapper{
    grid-template-columns: 2fr 200px;
    width: 100%;
    margin: 0 auto;
    max-width: 2560px;
    grid-gap: 0.5em;
    grid-template-rows: 2fr auto auto 50px;
    grid-template-areas: 
    "header header"
    "hero advert"
    "body sidebar"
    "footer footer";
    }
    .header{
        grid-gap:0.5em;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
        grid-template-areas: 
        "brand navigation tools";
    }
    
    .header2{
        padding-top: 40px;  
    }
    .header3{
        align-items: center;
    }
    .header{
        grid-column: 1 / span 3;
        grid-row: 1/ span 1;
    }

    .hero{
        grid-gap:1em;
        grid-template-columns: 1fr auto;
        grid-template-rows:  auto;
        grid-template-areas: 
        "feature call"; 
    }
    .hero{
        grid-column: 1 / span 1;
        grid-row: 2/ span 2;
    }

    .advert{
        grid-area: advert;
    }
    .advert{
        display: contents;
        display: inline;
    }
    .advert{
    width: auto;
    height: 300px;
    }

    .body{
        grid-gap: 1em;
        display: inline;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        grid-template-areas: 
        "body1 body3";  
    }
    .body2{
        display: none;
    }
    /* .body{
        grid-column: 1 / span 2;
        grid-row: 3 / 3;
    } */

    .body1{
        grid-column: 1 / span 1;
        grid-row: 3 / 3;
    }
    .body3{
        grid-column: 2 / span 2;
        grid-row: 3 / 3;
    }
}